<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>birth1</key>
	<string>亲，你的生日又到了，记得想我啊，据可靠消息称：想我可以强身健体，促进睡眠，增强食欲，财源广进！所以，为了你早日发大财，记得常想我哦！</string>
	<key>birth2</key>
	<string>短信将长长的距离缩短，短信将长长的思念浓缩，短信将长长的时间跨越，短信将你我的友谊深化，此时短信带着我的祝福，轻轻地送到你的眼前：亲爱的，今天是你的生日，祝你生日快乐，万事如意，幸福长久！</string>
	<key>birth3</key>
	<string>生日收到我信息，开心幸福数第一，看看信息变美丽，气死玫瑰无法比，青春脸庞放光辉，玛瑙光彩往后退，浓密头发落双肩，无比娇艳胜天仙。生日快乐哟！</string>
	<key>birth4</key>
	<string>我没有五彩的鲜花，没有浪漫的诗句，没有贵重的礼物，没有兴奋的惊喜，只有轻轻的祝福，祝你生日快乐！</string>
	<key>birth5</key>
	<string>今天是你的生日：浓浓亲情包围着你，厚厚天地保佑着你，连连好运跟随着你，个个朋友关心着你，甜甜问候祝福着你：生日快乐哦！</string>
	<key>birth6</key>
	<string>想要成为星星闪亮的眼睛，看护你度过静谧的夜晚，伴着祝福、伴着真情翱翔在你梦的海洋，愿你今后的美梦终归现实，生日快乐！</string>
	<key>birth7</key>
	<string>携一束月光，摘一颗繁星，采一朵白云，一同装入思念的礼包里，在这最特别的一天，送给最特别的你，祝愿你生日快乐，幸福如意！</string>
	<key>birth8</key>
	<string>简单的一句话语，一个祝福，寄给一个远在他乡的你。虽然不常联系，但是不曾忘记。祝你生日快乐，更愿你天天都有个好心情！</string>
	<key>birth9</key>
	<string>在这个美好的日子里，因为你的降临，这世界多了一片缤纷的美丽，我也拥有了一个最好的朋友！今天，只想对你说，生日快乐！</string>
	<key>birth10</key>
	<string>^o^花儿为你绽放，鸟儿为你歌唱，风儿为你祈祥，雨儿润你心房，阳光照你脸庞，祝福送你心上，生日为你开场，快乐随你心想，愿你福寿无疆。</string>
</dict>
</plist>
